


html{
    box-sizing: border-box; /*para que el pading no siga incrementado el tamaño combinado con el margin*/
    font-size: 62.5%; /*Reset para REMS --62.5% = 10px de 16 px (16px es el tamaño por default)*/
}
*, *::before, *::after{  /*para que el pading no siga incrementado el tamaño combinado con el margin*/
    box-sizing: inherit;
}

body{  /*Se da la fuente a todos los elementos del body*/
    font-family: 'Lato', sans-serif; /*Fuente de Google fonts*/
    font-size: 1.6rem;
    line-height: 2;
}

/*GLOBALES*/
img{
    max-width: 100%; /*Hace que todas las imagenes sean responsivas para que no se genere scroll.*/
}
.contenedor{
    max-width: 120rem; /*Se indica que tome todo el espacio disponible siempre que no se pase de 1200px.*/
    margin-left: 0 auto;  /*arriba, derecha, abajo, izquierda. margenes automáticas en derecha e izquierda para centrar*/
    margin-left: 9rem;     
    margin-right: 9rem;               
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
/******************************************UTILIDADES*******************************************************/
.seccion{  /*poner separación a todas las etiquetas de clase seccion*/
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.fw-300{
    font-weight: 300;
}
.centrar-texto{
    text-align: center;
}
.d-block{
    display: block !important; /*para que los elementos tomen todo el espacio disponible*/
}
/* ****************************************Fin utilidades************************************************* */

/******* BOTONES *******/
.boton{
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 0.6rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
}
.boton-amarillo{
    background-color: rgb(247, 89, 41);
}
.boton-verde{
    background-color: rgb(61, 179, 15);
}
/*  HEADER */

.site-header.inicio{  /*se da estilo a las dos clases en conjunto de esta forma*/
    background-image: url(../img/contactcenter_principal.jpg); /*se pone la imagen de fondo del encabezado*/
    background-position:   center center; /*se acomoda la imagen del fondo*/
    background-size: cover; /*la imagen toma todo el espacio disponible guardando las proporciones*/
    height: 100vh; /*se pone 100vh para que se detecte el tamaño de la pantalla y la ocupe automáticamente.*/
    min-height: 60rem; /*se da un tamaño mínimo al viewport height por si la pantalla es muy pequeña*/
}
.contenido-header{  /*Las siguientes cuatro caracteristicas separan el contenido del header en cada esquina*/
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1{
    padding-bottom: 2rem;
    max-width: 55rem;
    line-height: 2;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 5rem;
    padding-left: 4rem;
}
.barra{
    display: flex; /*pone los componentes de este div uno al lado del otro.*/
    justify-content: space-between;  /*se deja un espacio entre los elementos del contenedor (div)*/
    padding-top: 3rem;  /*para que las letras dejen espacio hacia adentro del elemento. */
    align-items: center; /*Alinea los elementos de la barra. */
}

/*NAVEGACION*/
.navegacion a{
    color: rgb(17, 13, 13);
    text-decoration: none; /*Eliminar las líneas de los enlaces*/
    font-size: 2.5rem;  
    margin-right: 2rem; /* separar los elementos entre sí */
    font-family: 'Times New Roman', Times, serif;  /*se da fuente para cambiar la que se había dado al body en general*/
    background-color:rgba(255, 255, 255, 0.404);
    border-radius: 65px;
    padding: 0.5rem;
    font-weight: bold;

}
.navegacion a:hover{ /*cambia de color las letras del enlace cuando se pasa el cursor sobre el*/
    color: rgb(19, 179, 40);
}
.navegacion a:last-of-type{ /* Eliminar el margin-right del último enlace (elemento)*/
    margin: 0;
}

/*ICONOS NOSOTROS*/

.iconos-nosotros{  
    display: flex; /*Se centran los iconos*/
    justify-content: space-between;
}
.icono{ /*si se usa FLEX, se debe usar flex-basis y no  width. */
    flex-basis: calc(33.3% - 1rem);  /*se toma el 100% y se divide en 3 ya que son tres elementos.*/
    text-align: center; /* Se centran todos los elementos del div incluyendo texto e imagenes*/
}
.icono h3{ /*cambiar a mayúsculas todos los h3 de la clase icono*/
    text-transform: uppercase;
}
/*ANUNCIOS*/
.contenedor-anuncios{ /*poner las imagenes de los anuncios una al lado del otro*/
    display: flex;
    justify-content: space-between; /*para dejar espacios entre los anuncios*/
}
.anuncio{
    flex-basis: calc(33.3% - 1rem);
   /* 
     border-width: 0.1rem;
     border-style: solid;
     border-color: grey;
    */
    border: 1px solid gray;  /* Es lo mismo que las tres líneas anteriores*/
    background-color: #f5f5f5;
}
.contenido-anuncio{
    padding: 2rem;
}
.contenido-anuncio h3, .contenido-anuncio p{
    margin: 0;  /*se elimina el margin para que quede más junto el texto de los anuncios*/
}
.precio{
    color: rgb(45, 163, 45);
    font-weight: 700;
}
.iconos-caracteristicas{ /*iconos de los anuncios*/
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}
.iconos-caracteristicas li{
    display: flex; /*pone el número al lado del icono*/
}
.iconos-caracteristicas li img{  /*separa el número del icono*/
    margin-right: 2rem; 
}
.ver-todas{
    display: flex;  
    justify-content: flex-end;  /*las dos ordenes en conjunto alinean el objeto a la izquierda*/
}

/** CONTACTO HOME **/
.imagen-contacto{
    background-image: url(../img/encuentra.jpg); 
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}
.contenido-contacto{
    flex: 1;
    color: #ffffff;
}
.contenido-contacto p{
    font-size: 2.5rem;
}

/** BLOG **/
.articulo{
    display: flex;
    justify-content: space-between;
}